<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener
			class-name="com.SeleniumOauth2.Oauth2.Listeners.CustomListener" />
		<listener
			class-name="com.SeleniumOauth2.Oauth2.Listeners.TransformerForRetry" />
	<!--  	<listener
			class-name="com.SeleniumOauth2.Oauth2.Listeners.ExtentReportListener" />-->
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class
				name="com.SeleniumOauth2.Oauth2.Tests.MyAppBasicInformationTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->